.container {
    width: 74.41vw;
    background-color: rgba(245, 245, 245, 0.1);
    margin-left: 12.195vw;
    margin-top: 6.912vw;
    padding: 1vw;
}

hr {
    color: white;
    background-color: white;
    height: 0.01vw;
    margin: 1vw;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}

.block {
    color: Gainsboro;
    margin: 1vw;
    line-height: 1.5vw;
    font-weight: lighter;
    font-size: 1vw;
}

.block__orange-text {
    color:#ff9900;
}

.block__photo {
    width: 100%;
}

.block__photo img {
    width: 100%;
}

.block__text img {
    width: 1.2vw;
}

@media screen and (max-width: 1400px) {
    .block {
        font-size: 1.374vw;
        line-height: 2.061vw;
    }

    .block__text img {
        width: 1.645vw;
    }
    
    .footer {
        height: 7.5vw;
    }
    
    .copyright {
        width: 20vw;
        
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 980px) {
    .block {
        font-size: 1.962vw;
        line-height: 2.944vw;
    }
    
    .block__text img {
        width: 2.35vw;
    }
    
    .footer {
        height: 15vw;
    }
    
    .copyright {
        width: 28vw;
        
        font-size: 2.2vw;
    }
    
    .links  {
        font-size: 3vw;
    }
}


@media screen and (max-width: 645px) {
    .block {
        font-size: 2.98vw;
        line-height: 4.47vw;
    }
    
    .block__text img {
        width: 3.56vw;
    }
    
    .container {
        width: 96%;
        margin: 50px auto;
    }
    
    .footer {
        height: 19.935vw;
    }
}