.container {
    width: 74.41vw;
    background-color: rgba(245, 245, 245, 0.1);
    margin-left: 12.195vw;
    margin-top: 6.912vw;
    padding: 1vw;
}

hr {
    color: white;
    background-color: white;
    height: 0.01vw;
    margin: 40px 1vw;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}

.block {
    color: Gainsboro;
    margin: 1vw;
    line-height: 1.5vw;
    font-weight: lighter;
    font-size: 1vw;
}

.block__orange-text {
    color:#ff9900;
}

.block__photo img {
    width: 100%;
}

.block__text img {
    width: 1.2vw;
}

.block__photo {
    width: 100%;
}

.block__text a {
    color: steelblue;
    
}

.block__text a:hover {
    color: lightskyblue;
}

iframe {
    width: 50%;
    height: 20vw;
}

blockquote {
    background-color: rgba(245, 245, 245, 0.1);
    padding: 0.5vw;
}

@media screen and (max-width: 1400px) {
    .block {
        font-size: 1.374vw;
        line-height: 2.061vw;
    }

    .block__text img {
        width: 1.645vw;
    }
    
    iframe {
        margin: 0 auto;
        width: 70%;
        height: 30vw;
    }
    
}

@media screen and (max-width: 980px) {
    .block {
        font-size: 1.962vw;
        line-height: 2.944vw;
    }
    
    .block__text img {
        width: 2.35vw;
    }
    
    iframe {
        margin: 0 auto;
        width: 85%;
        height: 35vw;
    }
}


@media screen and (max-width: 645px) {
    .block {
        font-size: 2.98vw;
        line-height: 4.47vw;
    }
    
    .block__text img {
        width: 3.56vw;
    }
    
    .container {
        width: 96%;
        margin: 50px auto;
    }
    
    iframe {
        margin: 0 auto;
        width: 100%;
        height: 51vw;
    }
}