.wrapper .active {
    color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.1);
}

.wrapper {
    width: 74.41vw;
    margin-left: 12.195vw;
    margin-top: 4.7vw;
}

.tabs {
    margin-left: 0.5vw;
}

.tab {
    display: inline-block;
    position: relative;
    z-index: 2;

    width: 7vw;
    padding: 10px 0;
    border-radius: 3px 3px 0 0;
    margin-left: 15px;
    
    text-align: center;
    cursor: pointer;
    background-color: silver;
}

.tab__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 1vw;
    border-radius: 3px;

    background-color: rgba(245, 245, 245, 0.1);
}

.iframe__block {
    width: 47%;
    margin: 1vw;
}

.video-content {
    width: 100%;
}

.tab__item__photo {
    margin: 1vw;
    width: 21.9vw;
    height: 16.4vw;
    border-radius: 0.5vw;
    border: 1px solid white;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tab__item__photo:hover {
    box-shadow: 0 0 1vw white;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.tab__item__photo img {
    width: 100%;
}

@media screen and (max-width: 1400px) {

    .wrapper {
        margin-top: 3.5vw;
    }

    .iframe__block {
        width: 100%;
        height: 40vw;
    }

    .video-content {
        height: 100%;
    }

    .tabs {
        margin-left: 1.2vw;
    }

    .tab {
        font-size: 1.5vw;
        width: 10.5vw;
    }

    .tab__item__photo {
        width: 34vw;
        height: 25.45vw;
    }

}

@media screen and (max-width: 980px) {



    .wrapper {
        width: 96%;

        margin-left: auto;
        margin-right: auto;
    }

    .iframe__block {
        width: 100%;
        height: 52vw;
    }

    .tabs {
        margin-left: 1.8vw;
    }

    .tab {
        font-size: 2.2vw;
        width: 15.4vw;
    }
    
    .tab__item__photo {
        width: 46%;
        height: 32vw;
    }

}


@media screen and (max-width: 645px) {
    .wrapper {
        margin-top: 50px;
    }

    .tabs {
        margin-left: 2vw;
    }

    .tab {
        font-size: 3vw;
        width: 21vw;
    }

    .tab__item__photo {
        width: 100%;
        height: 66vw;
    }
}
